<body>
<div th:replace="head::head"></div>
 <div>
	<div class=class>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="card p-3 mt-3">
					<form th:action="@{/login}" method="post">
						<div class="h3 text-center">Admin</div>
						<div class="mt-3">
							<label>User Name</label>
							<input type="text" name="username"class="form-control"  placeholder="Enter  Name" required>
						</div>
						<div class="mt-3">
							<label>Password</label>
							<input type="password" id="password"  name="password" class="form-control" placeholder="Enter  Password" required>
						</div>
						<div class="mt-3">
							<input type="submit" value="Login" class="btn btn-primary w-100" >
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>	
</div>
	
</body>

<style>
	body{
		background-image: url("https://thumbs.dreamstime.com/b/cyber-security-two-step-verification-login-user-identification-information-security-encryption-cyber-security-two-step-246671771.jpg");
		background-repeat: no-repeat;
		background-size: 1400px;
	}
	
	</style>