<div th:if="${role}=='ROLE_ADMIN'">
	<div th:replace="ahead::ahead"></div>
</div>
<div th:if="${role}=='ROLE_STAFF'">
	<div th:replace="dhead::dhead"></div>
</div>
<div th:if="${role}=='ROLE_STUDENT'">
<div th:replace="shead::shead"></div>
</div>
<div class="container">
<div class="mt-3"th:each="reviewRatingModel:${reviewRatingList}">
  <div class="row">	
    <div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="card p-3 mt-4">
			<div class="text-center h4">REVIEWS</div>
			<label class="h6">Review:-</label>
			<div class="h6" th:text="${reviewRatingModel.review}"></div>
		<div class="row">
			<div class="col-md-4 mt-3">
			<label class="h6">Rating:-</label>
			<div class="h6" th:text="${reviewRatingModel.rating}"></div>
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4 mt-3">
			<label>Rating By Student:</label>
			<div class="h6 text-center" th:text="${reviewRatingModel['eventRegistrationModel']['studentModel']['name']}"></div>
		</div>
		</div>	
		</div>
		</div>
	</div>
  </div>
</div>
